.card{
    direction: rtl;
    
}
.titel{
    font-size: 4vw;
}
.xnbu{
    color: rgb(230, 79, 79);
}
.end{
    font-size: 1vw;
}
.book{
    width: 29vw;
    margin-right: 7vw;
}
.book1{
     width: 20vw;
}